# Variaveis de ambiente necessárias para rodar o projeto
# OBS: Variaveis sem valor, apenas para fins de instrução. NUNCA coloque chaves reais aqui.

# Conexão com o banco PostgreSQL (Prisma)
DATABASE_URL=""
DIRECT_URL=""

# Segurança do Painel Administrativo (NextAuth)
# Gere uma string segura (ex: openssl rand -base64 32)
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

#Credenciais para ser criado o acesso atraves do seed.ts
ADMIN_USERNAME=""
ADMIN_PASSWORD=""